@tailwind base;
@tailwind components;
@tailwind utilities;

/* shepherd-tailwind.css */
.shepherd-element {
    @apply bg-primary-color rounded-secondary p-4 max-w-lg z-[9999];
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shepherd-arrow,
.shepherd-arrow:before {
    @apply h-4 absolute w-4 z-[-1];
}

.shepherd-arrow:before {
    @apply bg-primary-color;
    content: "";
    transform: rotate(45deg);
}

.shepherd-element[data-popper-placement^=top]>.shepherd-arrow {
    bottom: -8px
}

.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow {
    top: -8px
}

.shepherd-element[data-popper-placement^=left]>.shepherd-arrow {
    right: -8px
}

.shepherd-element[data-popper-placement^=right]>.shepherd-arrow {
    left: -8px
}

.shepherd-element.shepherd-centered>.shepherd-arrow {
    opacity: 0
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
    @apply bg-primary-color
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
    pointer-events: none
}

.shepherd-button {
    @apply bg-validate-color/75 hover:bg-validate-color/50 text-primary-color font-bold py-2 px-4 mr-4 rounded-secondary transition duration-300 ease-out;
}

.shepherd-button.shepherd-button-secondary {
    @apply bg-cancel-color hover:bg-cancel-color/50;
}

.shepherd-header {
    @apply text-secondary font-bold pb-2 mb-2 text-secondary-color border-b-white border-b;
}

.shepherd-content {
    @apply text-primary-color text-tertiary;
}

.shepherd-text {
    @apply max-h-[70vh] overflow-y-auto overflow-hidden;
}

.shepherd-modal-overlay-container {
    @apply h-0 left-0 opacity-0 overflow-hidden pointer-events-none fixed top-0 w-screen z-[9997];
    transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
    @apply h-screen opacity-50;
    transform: translateZ(0);
    transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
    @apply pointer-events-auto;
}

.rainbow-border {
    --border-width: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  